{% extends 'base.html' %}

{% load static %}

{% block title %}Indicadores{% endblock %} 

{% block breadcrumb %}
<li class="breadcrumb-item">
  <a href="{% url 'home' %}">Home</a>
</li>
<li class="breadcrumb-item active">Excluir Indicador</li>
{% endblock %} 

{% block content %}

<form method="post">
    {% csrf_token %}
    <h4>Excluir Indicador?</h4>
    <p>Deseja realmente excluir o indicador? <strong>{{ indicator.name }}</strong></p>
    <button type="submit" class="btn btn-danger">Excluir</button>
</form>
{% endblock %}