{% extends 'base.html' %}

{% load static %}

{% block title %}Projetos{% endblock %} 

{% block breadcrumb %}
<li class="breadcrumb-item">
  <a href="{% url 'home' %}">Home</a>
</li>
<li class="breadcrumb-item active">Excluir Atividade</li>
{% endblock %} 

{% block content %}

<form method="post">
    {% csrf_token %}
    <h4>Excluir Atividade?</h4>
    <p>Deseja realmente excluir a Atividade do projeto? <strong>{{ object.name }}</strong></p>
    <button type="submit" class="btn btn-danger">Excluir</button>
</form>
{% endblock %}